
/* General Styles */

#h1 {
    text-align: center;
}

#p {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

/* Misc Styles */

#startButton {
    margin-left: 45%;
}
#viewHighscores {
    margin-top: 5%; 
}
#timer {
    margin-top: 1%;
}

/* Answer Styles */

#answers {
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
    margin-left: 42%;
    
}
