
/* General Styles */

#h1 {
    text-align: center;
}

#p {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

/* Misc Styles */

#startButton {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-30%, -30%);
    transform: translate(-50%, -50%);
}
#viewHighscores {
    margin-top: 5%; 
}
#timer {
    margin-top: 1%;
}

/* Answer Styles */

#possibleAnswers {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
#1 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
#2 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
#3 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
#4 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
#5 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 46%;
    
}
