
#h1 {
    text-align: center;
}

#p {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

#startbutton {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-30%, -30%);
    transform: translate(-50%, -50%);
}
#viewhighscores {
    margin-top: 5%;
    margin-left: 5%;
}
#timer {
    margin-top: 1%;
}
#questions0 {
    margin-top: 10%;
    margin-bottom: 10%;
}
#questions1 {
    margin-top: 10%;
    margin-bottom: 10%;
}
#questions2 {
    margin-top: 10%;
    margin-bottom: 10%;
}
#questions3 {
    margin-top: 10%;
    margin-bottom: 10%;
}
#questions4 {
    margin-top: 10%;
    margin-bottom: 10%;
}
